{
  "$schema": "https://json.schemastore.org/semantic-release",
  "branches": ["main", "chore-semantic-release"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-hackage",
      {
        "packageName": "hspec-golden",
        "versionPrefix": "0."
      }
    ],
    "@semantic-release/github"
  ],
  "tagFormat": "v0.${version}"
}
